body {
    font-family: Arial, sans-serif;
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*height: 100vh;*/
    margin: 0;
}

.container {
    display: flex;
    padding: 10px;
    /*background-color: ;*/
    /*max-width: 400px;*/
}

label {
    /*display: block;*/
    margin-top: 10px;
}

input, button {
    display: block;
    width: 190px;
    height: 30px;
    color: #432000;
    background-color: #DCE1EB;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    margin: 10px 10px;
}

#datepicker {
    cursor: pointer;
}

button {
    color: #FDFDFD;
    background-color: #AC485A;
    width: 210px;
    height: 50px;
    border: 0;
    padding: 15px;
    border-radius: 8px;
    font-size: 18px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    /*background-color: #4CAF50;*/
    /*color: white;*/
    /*border: none;*/
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}


html {
    padding-top: 50px;
    padding-bottom:100px;
}
